.list {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.itemText {
  font-size: 2em;
  font-weight: bold;
}

.deleteButton {
  float: right;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  background-color: yellow;
  cursor: pointer;
}
